body {
    color: rgb(207, 207, 207);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    background-color: #191933;
}

.text-container {
    line-height: 32px;
    text-align: center;
    word-wrap: break-word;
}

.grid-container {
    display: grid;
    min-height: 70vh;
}

.grid-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    max-width: 50em;
}

.grid-footer {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.267);
}

a {
    color: rgb(207, 207, 207);
}

/* Style the tab */

.tab {
    background-color: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: transparent;
    width: calc(100% / 3);
    max-width: 8em;
    color: rgb(207, 207, 207);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 14px;
}

/* Create an active/current tablink class */
.tab button.active {
    font-size: 18px;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

/* Fade-in animation */

.anim {
    font-size: 18px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Glow effect */

.glow:hover {
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}